#jQueryProgressFormBar > div{
    display: block;
    background: green;
    width: 0;
    border-radius: 5px;
}
#jQueryProgressFormBar > div.warn{
    background: yellow;
}
#jQueryProgressFormBar > div.error{
    background: red;
}